/* Confetti button */
.confetti-btn__icon {
    display: none;
  }
  @supports (--css: variables) {
    .confetti-btn__icon {
      --size: 16px;
      display: block;
      width: var(--size);
      height: var(--size);
      position: absolute;
      top: calc(var(--conf-btn-click-y, 50%) - var(--size)/2);
      left: calc(var(--conf-btn-click-x, 50%) - var(--size)/2);
      pointer-events: none;
      overflow: visible;
    }
    .confetti-btn__icon * {
      -webkit-transform-origin: calc(var(--size)/2);  transform-origin: calc(var(--size)/2);
      opacity: 0;
    }
  }
  
  .confetti-btn--animate .confetti-btn__icon {
    --confetti-btn-animation-duration: 1s;
  }
  .confetti-btn--animate .confetti-btn__icon .conf-btn-svg-item-0 {
    -webkit-animation: confetti-btn-item-0-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);animation: confetti-btn-item-0-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .confetti-btn--animate .confetti-btn__icon .conf-btn-svg-item-1 {
    -webkit-animation: confetti-btn-item-1-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);animation: confetti-btn-item-1-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .confetti-btn--animate .confetti-btn__icon .conf-btn-svg-item-2 {
    -webkit-animation: confetti-btn-item-2-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);animation: confetti-btn-item-2-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .confetti-btn--animate .confetti-btn__icon .conf-btn-svg-item-3 {
    -webkit-animation: confetti-btn-item-3-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);animation: confetti-btn-item-3-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .confetti-btn--animate .confetti-btn__icon .conf-btn-svg-item-4 {
    -webkit-animation: confetti-btn-item-4-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);animation: confetti-btn-item-4-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .confetti-btn--animate .confetti-btn__icon .conf-btn-svg-item-5 {
    -webkit-animation: confetti-btn-item-5-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);animation: confetti-btn-item-5-anim var(--confetti-btn-animation-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  @-webkit-keyframes confetti-btn-item-0-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);  transform: scale(2);
    }
  }
  
  @keyframes confetti-btn-item-0-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);  transform: scale(2);
    }
  }
  @-webkit-keyframes confetti-btn-item-1-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-50px) scale(0.8) rotate(-3deg);  transform: translateY(-50px) scale(0.8) rotate(-3deg);
    }
  }
  @keyframes confetti-btn-item-1-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-50px) scale(0.8) rotate(-3deg);  transform: translateY(-50px) scale(0.8) rotate(-3deg);
    }
  }
  @-webkit-keyframes confetti-btn-item-2-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-44px) translateX(20px) scale(0.7) rotate(5deg);  transform: translateY(-44px) translateX(20px) scale(0.7) rotate(5deg);
    }
  }
  @keyframes confetti-btn-item-2-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-44px) translateX(20px) scale(0.7) rotate(5deg);  transform: translateY(-44px) translateX(20px) scale(0.7) rotate(5deg);
    }
  }
  @-webkit-keyframes confetti-btn-item-3-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-36px) translateX(-20px) scale(0.6) rotate(-9deg);  transform: translateY(-36px) translateX(-20px) scale(0.6) rotate(-9deg);
    }
  }
  @keyframes confetti-btn-item-3-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-36px) translateX(-20px) scale(0.6) rotate(-9deg);  transform: translateY(-36px) translateX(-20px) scale(0.6) rotate(-9deg);
    }
  }
  @-webkit-keyframes confetti-btn-item-4-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-20px) translateX(10px) scale(0.8) rotate(-12deg);  transform: translateY(-20px) translateX(10px) scale(0.8) rotate(-12deg);
    }
  }
  @keyframes confetti-btn-item-4-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-20px) translateX(10px) scale(0.8) rotate(-12deg);  transform: translateY(-20px) translateX(10px) scale(0.8) rotate(-12deg);
    }
  }
  @-webkit-keyframes confetti-btn-item-5-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-12px) translateX(-10px) scale(0.9) rotate(7deg);  transform: translateY(-12px) translateX(-10px) scale(0.9) rotate(7deg);
    }
  }
  @keyframes confetti-btn-item-5-anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-12px) translateX(-10px) scale(0.9) rotate(7deg);  transform: translateY(-12px) translateX(-10px) scale(0.9) rotate(7deg);
    }
  }
  
  @media screen and (max-width: 1023px) {
    .custom-shape-divider-top-1721002766 svg, .custom-shape-divider-bottom-1721002982 svg, .custom-shape-divider-top-1721257492 svg {
      height: 50px;
    }
  }